<div class="main-layout">
    <div class="ui pointing secondary menu">
        <a class="item active" id="Contacts" data-tab="Contacts">Contacts</a>
        <a class="item " id="Chats" data-tab="Chats">Chats</a>
        <a class="item" id="Groups" data-tab="Groups">Groups</a>
        <a class="item" id="Profile" data-tab="Profile">Profile</a>
    </div>
    <div>
        <div class="ui active tab segment" data-tab="Contacts">
            <app-contacts></app-contacts>
        </div>
        <div class="ui tab segment" data-tab="Chats">
            <app-chat-tab></app-chat-tab>
        </div>
        <div class="ui tab segment" data-tab="Groups">
            <app-group-tab></app-group-tab>
        </div>
        <div class="ui tab segment" data-tab="Profile">
            <app-profile></app-profile>
        </div>
    </div>
</div>
