.main-layout {
    width: 25%;
    background: white;
    margin: 10% auto;
    border-radius: 5px;
}

.item {
    padding: 13px !important;
    width: auto;
    margin: auto !important;
}
.item.active{
    font-size: 15px;
}

.ui.secondary.menu .active#Contacts {
    border-bottom: 3px solid #fbb408 !important;
}

.ui.secondary.menu .active#Chats {
    border-bottom: 3px solid #00b5ad !important;
}

.ui.secondary.menu .active#Groups {
    border-bottom: 3px solid #b5cc18 !important;
}

.ui.secondary.menu .active#Profile {
    border-bottom: 3px solid #e03997 !important;
}

.ui.secondary.pointing.menu,
.ui.tab {
    border: 0;
}
