<div class="ui middle aligned animated selection list">
    <div class="ui divider">
        <!-- <img class="ui mini image" src="assets/images/png/star.png">
        <img class="ui mini image" src="assets/images/png/star.png"> -->
        <img class="ui small centered image" src="assets/images/png/chat-plus.png">
        <div class="ui pointing label">
            Why You wait? Start Chatting!
        </div>
        <!-- <img class="ui mini image" src="assets/images/png/star.png">
        <img class="ui mini image" src="assets/images/png/star.png"> -->
    </div>
</div>
