<div class="ui card margin-auto">
    <div class="content">
        <form class="ui form" [formGroup]="registerGroup" (ngSubmit)="submitRegister(registerGroup.value)">
            <div class="field">
                <label>User Name</label>
                <input type="text" formControlName="userName" placeholder="User Name">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="field">
                <label>Re-Enter Password</label>
                <input type="password" formControlName="re_enterPassword" placeholder="Password">
            </div>
            <div class="field">
                <label>Choose Avatar
                    <div class="ui inline dropdown right floated">
                        <div class="text">
                            <img class="ui avatar image" src="assets/images/png/boy-1.png">
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="boy.png">
                                <img class="ui avatar image" src="assets/images/png/boy.png">
                            </div>
                            <div class="item" data-value="girl-1.png">
                                <img class="ui avatar image" src="assets/images/png/girl-1.png">
                            </div>
                            <div class="item" data-value="girl.png">
                                <img class="ui avatar image" src="assets/images/png/girl.png">
                            </div>
                            <div class="item" data-value="man-1.png">
                                <img class="ui avatar image" src="assets/images/png/man-1.png">
                            </div>
                            <div class="item" data-value="man-2.png">
                                <img class="ui avatar image" src="assets/images/png/man-2.png">
                            </div>
                            <div class="item" data-value="man-3.png">
                                <img class="ui avatar image" src="assets/images/png/man-3.png">
                            </div>
                            <div class="item" data-value="man-4.png">
                                <img class="ui avatar image" src="assets/images/png/man-4.png">
                            </div>
                            <div class="item" data-value="man.png">
                                <img class="ui avatar image" src="assets/images/png/man.png">
                            </div>
                        </div>
                    </div>
                </label>
                <input type="hidden" formControlName="profilePic" [ngModel]="profilePic" />
            </div>
            <div class="ui buttons">
                <button class="ui yellow button" (click)="navigate('/login')">Login</button>
                <div class="or"></div>
                <button class="ui blue right floated button" type="submit">Register</button>

            </div>


        </form>
    </div>
</div>
