<div class="ui middle aligned animated selection list">
    <div class="ui small action transparent input">
        <input type="text" placeholder="Search contacts..." (keyup)="searchContacts($event)">
        <i class="search icon"></i>
    </div>
    <div *ngFor="let contact of contacts" class="item" (click)="navigate('/chat',contact)">
        <img class="ui avatar image" [src]="'assets/images/png/'+ contact.profilePic">
        <div class="content">
            <div class="header">{{contact.userName}} <span class="logged-user">{{contact.id===loggedUser.id ?
                    'Logged User': ''}}</span></div>
        </div>
    </div>
</div>
