<div class="ui card margin-auto">
    <div class="content">
        <a class="header">{{user.userName}}
            <span class="avatar right floated">
                <img [src]="'assets/images/png/' + user.profilePic">
            </span>
        </a>
        <span>{{typingString}}</span>

    </div>
    <div class="content chat-content">
        <div class="ui comments">
            <div class="comment" *ngFor="let message of messages" [ngClass]="{'sender':message.fromId === loggedUser.id}">
                <a class="avatar">
                    <img [src]="'assets/images/png/' + message.avatar">
                </a>
                <div class="content">
                    <!-- <a class="author">{{message.to.userName | titlecase}}</a> -->
                    <div class="metadata">
                        <span class="date">{{message.time | date: 'h:mm a'}}</span>
                    </div>
                    <div class="text">
                        {{message.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <div class="ui input"><input type="text" (focus)="onFocus()" [(ngModel)]="message" placeholder="Enter Message"></div>
        <button class="ui inverted orange button" (click)="sendMessage(message)">Send</button>
    </div>
</div>
